@if (_uiVisible)
{
    <div id="container">
    @if (_statusText.Length > 0)
    {
        <p>@_statusText</p>
    }
    else
    {
        <p>@_actionText</p>
    }
    </div>
}

@code {

    private ActionFactory _actionFactory = null!;
    private IAction _action = null!;
    private string _statusText = "Loading game...";
    private string _actionText = string.Empty;
    private bool _uiVisible = true;

    [CascadingParameter]
    public IMediator Mediator { get; set; } = null!;

    protected override void OnInitialized()
    {
        Mediator.Subscribe<GameStarted>(OnGameStartedAsync);
        Mediator.Subscribe<VerbSelected>(OnVerbSelectedAsync);
        Mediator.Subscribe<GameObjectPointerDown>(OnGameObjectPointerDownAsync);
        Mediator.Subscribe<GameObjectPointerOut>(OnGameObjectPointerOutAsync);
        Mediator.Subscribe<GameObjectPointerOver>(OnGameObjectPointerOverAsync);
        Mediator.Subscribe<PlayerActionStarted>(OnPlayerActionStartedAsync);
        Mediator.Subscribe<PlayerActionCompleted>(OnPlayerActionCompletedAsync);
        Mediator.Subscribe<GameScriptRefreshing>(OnGameScriptRefreshingAsync);
    }

    private Task OnGameStartedAsync(GameStarted @event)
    {
        _statusText = string.Empty;
        _actionFactory = new ActionFactory(@event.Game);
        _action = _actionFactory.Create(Verb.WalkTo);
        _actionText = _action.GetDisplayText();

        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnVerbSelectedAsync(VerbSelected @event)
    {
        _action = _actionFactory.Create(@event.Verb);
        _actionText = _action.GetDisplayText();

        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnGameObjectPointerOverAsync(GameObjectPointerOver @event)
    {
        _actionText = _action.GetDisplayText(@event.GameObject);

        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnGameObjectPointerOutAsync(GameObjectPointerOut @event)
    {
        _actionText = _action.GetDisplayText();

        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task OnGameObjectPointerDownAsync(GameObjectPointerDown @event)
    {
        if (_action.Add(@event.GameObject))
        {
            await Mediator.SendAsync(new ExecutePlayerAction(_action));
        }
        else
        {
            _actionText = _action.GetDisplayText();
        }

        StateHasChanged();
    }

    private Task OnPlayerActionStartedAsync(PlayerActionStarted @event)
    {
        _uiVisible = !@event.Action.DisableUIWhileExecuting;

        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnPlayerActionCompletedAsync(PlayerActionCompleted @event)
    {
        if (!@event.OnlyMoved)
        {
            _action = _actionFactory.Create(Verb.WalkTo);
            _actionText = _action.GetDisplayText();
        }
        _uiVisible = true;

        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnRefreshGameScriptAsync(RefreshGameScript @event)
    {
        _statusText = "Refreshing game script...";

        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnSaveGameAsync(SaveGame @event)
    {
        _statusText = "Refreshing game script...";

        StateHasChanged();
        return Task.CompletedTask;
    }
    
    private Task OnGameScriptRefreshingAsync(GameScriptRefreshing @event)
    {
        _statusText = "Refreshing game script...";

        StateHasChanged();
        return Task.CompletedTask;
    }
}
